.optimize-container {
 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.428);
    border-radius: 1000px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 80px;
    margin-top: 0px;
    margin-left:120px;
}           

.optimize-button {
    padding: 20px 30px;
    border-radius: 1000px;
    font-size: 3rem;
    font-variant: small-caps;
    color: #ffffff;
    background-color: #bd6044c8;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.optimize-button-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 1;
}
.optimize-button:hover {
    background-color: #7f3423ad;
    transform: scale(1.03);
}


 