.nav-bar {
  width: 80px;       
  height: 100vh;         
  background-color: #ffffffb4;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.419);
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  position: fixed;     
  top: 0;
  left: 0;
  z-index: 1000;
  margin-right: 50px;
}

.nav-bar-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 30px;
  width: 100%;
}

.nav-bar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  justify-content: center; 
  margin-bottom: -80px;
  margin-left: 1750px;
  margin-top: 15px;
 
}

.nav-bar-logo img {
  width: 180px;
  height: auto;

}

.nav-bar-links {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  width: 100%;
  padding: 0 20px;
}

.nav-bar-link {
  border-radius: 500px;
  font-size: 2rem;
  font-weight: 600;
  color: #4b2916cd;
  text-decoration: none;
  transition: background-color 0.2s ease;
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
  display:flex;
  flex-direction: column;
}

.nav-bar-link-text {
  font-size: 0.9rem;
  font-variant: small-caps;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar-link:hover {
  transform: scale(1.05);
}

.nav-bar-profile {
  margin-top: auto;       
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
 

 
}

.nav-bar-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow:  0 0 10px rgba(22, 7, 4, 0.754);
}

.nav-bar-profile-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
  text-align: center;
}