@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


body {
    background-color: rgb(236, 236, 236);
    box-shadow: inset 0 0 25px rgba(113, 123, 103, 0.63);
    height: 98vh;
    border-radius: 20px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 20% 30%, rgba(255, 207, 192, 0.403), transparent 30%),
                radial-gradient(circle at 80% 20%, rgba(135, 197, 192, 0.29), transparent 30%),
                radial-gradient(circle at 50% 80%, rgba(162, 194, 152, 0.169), transparent 30%),
                radial-gradient(circle at 70% 60%, rgba(213, 162, 213, 0.279), transparent 30%),
                radial-gradient(circle at 40% 70%, rgba(162, 194, 152, 0.234), transparent 30%),
                radial-gradient(circle at 20% 80%, rgba(135, 197, 192, 0.321), transparent 30%),
                radial-gradient(circle at 60% 20%, rgba(255, 207, 192, 0.401), transparent 30%),
                radial-gradient(circle at 80% 60%, rgba(135, 197, 192, 0.361), transparent 30%),
                radial-gradient(circle at 30% 40%, rgba(162, 194, 152, 0.308), transparent 30%),
                radial-gradient(circle at 60% 70%, rgba(194, 147, 194, 0.103), transparent 30%);
    z-index: -1;
    pointer-events: none;
    backdrop-filter: blur(1px);
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.check-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.checkbox-wrapper {
    width: 52px;
    height: 52px;
}

.checkbox {
    width: 100%;
    height: 100%;
    stroke: #899397;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-left: -8rem;
    margin-top : -10rem; 
    transform: translateY(-100%);
}

.checkbox-circle {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    animation: draw-circle 1s ease-out forwards;
}

.checkbox-check {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: draw-check 0.8s 1s ease-out forwards;
}

@keyframes draw-circle {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-check {
    to {
        stroke-dashoffset: 0;
    }
}




.welcome-title {
    font-size: 9rem;
    margin-bottom: 0rem;
    font-family: 'Sacramento', cursive;
    font-style: oblique;
    font-weight: 400;
    background: -webkit-linear-gradient(#494949, #8b9d84, #073a43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.096);
    animation: fadeIn 1s ease-in;
    opacity: 0.8;
}

.welcome-container img {
    width: 650px;
    height: auto;
    margin-top: -12.5rem;
    animation: slideIn 1s ease-in-out;
    margin-right: -2rem;
}
@keyframes slideIn {
    from {
        transform: translateY(-25%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0.8;
  }
}

.log-in-button {
    background-color: rgb(171, 171, 171);
    color: rgb(224, 223, 223);
    padding: 0.5rem 1.5rem;
    border-radius: 100rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    background-color: rgb(137, 152, 137);
    border: double 2px rgb(202, 201, 201);
}

.log-in-button:hover {
    border: double 2px rgb(134, 134, 134);
    background-color: rgb(215, 214, 214);
    color: rgb(140, 138, 138);
    transform: scale(1.05);
    transform: translateY(-0.2rem) ;
    transition: 0.4s ease;
}

.logo {
    width: 100px;
    height: 100px;
}

.slogan {
    font-size: 1.5rem;
    margin-top: -6.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(145, 152, 145);
    text-align: center;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.096);
    animation: fadeIn 1s ease-in;
    opacity: 0.8;
    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
    animation: slideIn 2s ease-in-out;
    
}