.upcoming-container {
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.428);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  margin-left: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transform: translateX(-50px);
  margin-right: 50px;
}

  

.upcoming-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #5b6d96; 
  text-align: center;
  border-bottom: 2px solid #5b6d96;
  padding-bottom: 8px;
  font-family: 'Sofia', cursive;
}

.upcoming-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.upcoming-item {
  padding: 13px 0;
  margin-bottom: 6px;
  border-bottom: 1px solid #5265751c;
}

.upcoming-item:last-child {
  border-bottom: none;
}

.upcoming-item-title {
  font-weight:700;
  font-size: 1.2rem;
  color: #111827;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  
}

.upcoming-item-time {
  font-size: 0.9rem;
  color: #6b7280; 
  margin-top: 4px;
}

.upcoming-item-desc {
  margin-top: 6px;
  font-size: 0.85rem;
  color: #4b5563;
  font-style: italic;
}

.upcoming-empty {
  font-size: 1rem;
  color: #9ca3af;
  text-align: center;
  margin-top: 20px;
}
